.logo {
  font-family: 'UnifrakturCook', cursive;
}

.out-of-date-warn {
  background-color: gold;
}

.dreamtalk {
  background: rgb(205,242,242);
  background: linear-gradient(0deg, rgba(205,242,242,1) 0%, rgba(255,255,255,1) 100%);
}

.recc-article-img {
  width: 100%;
  max-width: 300px;
  max-height: 10rem;
  overflow: hidden
}

.recc-articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recc-articles > div {
  max-width: 300px;
}